.custom-rt-tooltip {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 0px !important;
  padding: 4px !important;
  margin: 4px !important;
  opacity: 1;
  max-width: 300px;
  max-height: 200px;
  overflow-y: auto;
}

.custom-rt-tooltip-arrow {
  display: none !important;
}
